.search {
  background-color: var(--clr-light-bg);
  width: 100%;
  height: 100vh;
  padding: 15px;
  padding-top: 60px;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
}

.search > div {
  height: 48px;
  width: 100%;
  display: flex;
}

.search > div > * {
  height: 100%;
}

.search > div input {
  background-color: transparent;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  padding: 0 10px;
  flex-grow: 1;
}

.search > div button {
  background-color: var(--clr-search-btn);
  margin-left: 7.5px;
}

.search > ul {
  margin-top: 30px;
}

.opening {
  transform: translateX(0);
}

.closing {
  transform: translateX(100%);
}
