.light {
  background-color: var(--clr-light-bg);
  text-align: center;
  padding: 20px;
  width: 100%;
  color: var(--clr-secondary);
}

.light > h2 {
  margin: 15px 0;
  color: var(--clr-primary);
  font-size: var(--fs-xxlarge)
} 

.light > h2 > small {
  font-size: var(--fs-large);
}

.percent {
  color: var(--clr-secondary)
}

@media (min-width: 900px) {
  .light {
    flex: 2 1 45%;
  } 
}