.hero {
  background-color: var(--clr-light-bg);
  padding: 15px 0;
  padding-bottom: 75px;
  width: 100%;
  text-align: center;
}

.places {
  margin: 0 10px;
  text-align: left;

  button:last-child {
    float: right;
    padding: 5px;
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;

    img {
      width: 95%;
      height: 95%;
    }
  }
}

.hero h1 {
  line-height: 0.9em;
}

.hero h2 {
  margin-top: 20px;
  color: var(--clr-secondary);
}

.details {
  margin-top: 32.5px;
  color: var(--clr-secondary);

  span {
    margin: 0 5px;
  }

  p {
    margin-top: 25px;
    color: var(--clr-secondary);

    img {
      width: 1.8rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
