.images {
  margin-top: 50px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  flex-shrink: 0;
  width: 150%;
  opacity: 0.1;
}

.weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
