.images {
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  right: 15px;
}

.bg {
  flex-shrink: 0;
  width: 150%;
  opacity: 0.1;
}

.weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 150px;
}
