.hero {
  position: relative;
  overflow-x: hidden;
}

.details {
  flex-grow: 1;
  padding: 15px 50px;
}

.details > * {
  margin: 0 auto;
}

@media (min-width: 900px) {
  .hero {
    max-width: 400px;
  }
  .details {
    height: 100vh;
    overflow-y: scroll;
  }
}
