*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-primary)
}

a, button, input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border: 0;
  border-radius: 0; 
  font-size: var(--fs-small);
}

a, button {
  cursor: pointer;
}

button {
  color: var(--clr-primary);
  background-color: var(--clr-place-btn);
  padding: 10px 17.5px;
}

h1 {
  font-size: var(--fs-hero)
}

h1 small {
  font-size: var(--fs-xlarge);
  color: var(--clr-secondary);
  margin-left: 4px;
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-mlarge);
}