:root {
  --clr-light-bg: #1e213a;
  --clr-dark-bg: #100e1d;
  --clr-primary: #e7e7eb;
  --clr-secondary: #a09fb1;
  --clr-search-btn: #3C47E9;
  --clr-place-btn: #6E707A;
  --clr-stats: #FFEC65;

  --ff-body: "Raleway", sans-serif;
  --ff-footer: "Montserrat", sans-serif;

  --fs-xxlarge: 144px;
  --fs-xlarge: 48px;
  --fs-large: 36px;
  --fs-body: 18px;
  --fs-small: 16px;
  --fs-xsmall: 14px;
}
